* {
  font-family: "Noto Sans KR", sans-serif;
}
@media screen and (max-width: 767px) {
  * {
    font-size: 75%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  * {
    font-size: 90%;
  }
}

html {
  margin: 0;
  height: 100%;
  background-image: url("../images/bookshelfs.jpg");
  background-attachment: fixed;
  background-size: contain;
}

body {
  margin: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
body > div {
  box-sizing: border-box;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
  padding: 20px;
  overflow: scroll;
}
@media screen and (max-width: 767px) {
  body > div {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  body > div {
    width: 80%;
  }
}

.logo {
  height: auto;
  width: 20%;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .logo {
    display: none;
  }
}

.title {
  margin-top: inherit;
  padding: 12px;
  text-align: center;
  font-size: 1.6rem;
  background-color: #f2f2f2;
  color: #666666;
  border: 0.1rem solid #cccccc;
  box-shadow: 2px 2px 4px #cccccc;
}
@media screen and (max-width: 767px) {
  .title {
    margin-top: 1.66rem;
  }
}

h2 {
  text-align: center;
  font-size: 1.2rem;
}

.btn {
  padding: 6px 10px;
  margin-bottom: 1.66rem;
  border: 0.15rem solid #1D9A8D;
  width: 40%;
  max-width: 160px;
  color: #fff;
  background: #1D9A8D;
  font-size: 1rem;
  font-weight: bolder;
  display: block;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .btn {
    max-width: 110px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .btn {
    max-width: 130px;
  }
}
.btn:hover {
  background: #ccfffa;
  color: #1D9A8D;
}
.btn--cancel {
  background: #9a1d2a;
  color: #fff;
  border: 0.15rem solid #9a1d2a;
}
.btn--cancel:hover {
  background: #ffccd1;
  color: #9a1d2a;
}
.btn--center {
  margin-left: auto;
  margin-right: auto;
}

.form {
  width: 100%;
  padding-top: 1.66rem;
}
.form__field {
  margin-bottom: 1.66rem;
}
.form__field label {
  font-size: 1rem;
  display: block;
  margin-bottom: 0.83rem;
  margin-top: -0.83rem;
}
.form__field input {
  font-size: 1rem;
  padding: 2px;
  width: 50%;
  box-sizing: border-box;
  border: 0.1rem solid #666666;
}
@media screen and (max-width: 767px) {
  .form__field input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .form__field input {
    width: 75%;
  }
}
.form__field input:focus {
  border: 0.1rem solid #666666;
  outline: 0.1rem solid #666666;
}

.warning-msg {
  color: #9a1d2a;
  font-size: 1rem;
  margin-bottom: 1.66rem;
}

.h2--results {
  margin-bottom: 1.66rem;
}

.res-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}
@media screen and (max-width: 767px) {
  .res-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .res-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.fas {
  color: #1D9A8D;
  padding-left: 20px;
  font-size: 1.8rem;
  display: inline;
  float: right;
}

.result {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 470px;
  border: 0.1rem solid #cccccc;
}
@media screen and (max-width: 767px) {
  .result {
    height: 350px;
  }
}
.result__info h3 {
  font-size: 1.12rem;
}
.result__info p {
  font-size: 0.9rem;
}
.result__info--title {
  display: inline;
}
.result__img {
  margin-top: auto;
  overflow: hidden;
}
.result__img img {
  height: auto;
  width: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=style.css.map */
